@import "reset.css";

:root {
  --l-size: 2vw;
  --m-size: 1.3vw;
  --s-size: 1vw;
}

.hidden {
  display: none;
}

.correct {
  background-color: rgb(101, 241, 101);
}

.wrong {
  background-color: rgb(228, 47, 47);
}

.hover:hover {
  background-color: rgb(135, 135, 252);
}

.selected {
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  background-color: rgb(202, 204, 243);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--m-size);
}

.quiz-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.quiz-box__header {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: var(--m-size);
}

.quiz-box__header h2 {
  display: block;
  font-size: var(--l-size);
  margin-bottom: 15px;
}

#score {
  font-size: var(--s-size);
}

span {
  display: block;
  margin-bottom: 10px;
}

.quiz-box__main form {
  display: flex;
  flex-direction: column;
}

#submit,
#next,
#restart,
.quiz-box__main button {
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: var(--m-size);
}

#submit,
#next,
#restart {
  background-color: rgb(72, 72, 207);
  color: white;
}

#submit:hover,
#next:hover,
#restart:hover {
  background-color: rgb(44, 44, 133);
}
